
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}
.navbar-inverse{
    margin-bottom: 0;
    border-radius: 0px;
    border: 0;
}
.blog-post{

    align-content: left;
}


.mcontent{
   float: left;
   margin-right: 20px;
   margin-bottom: 10px;
}
.mcontent2{
   float: right;
   margin-right: 20px;
   margin-bottom: 10px;
}

h4 {
    margin:0px;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
 
}
.nvpill{

 font-size: 15px;
 padding: 1.25rem;
}
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;

}
.bd-callout-danger {
    border-left-color: #d9534f;

}
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}