{% extends 'posts/base.html' %}
{% block content %}
{% load staticfiles %}
{% for post in post %}



          
          
            


<div class="card">
  <div class="card-body">
  	<img class="mcontent" width="150" height="150"  src="{{post.thumbnail.url }}" alt="Card image cap">
    <h4 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
    <p class="card-text">{{ post.text|linebreaksbr }}</p>
    
    <a href="#" class="label label-pill label-default">{{ post.author }}</a>
    <span class="badge badge-warning"></span>
<span class="label label-pill label-info">{{ post.published_date }}</span>
<br>
<br>


<a  class="label label-pill label-warning" href="{% url 'post_detail' pk=post.pk %}">View more...</a>



  </div>
</div>

    <hr>     

{% endfor %}
{% endblock %}